.pause-anim {
  -webkit-animation-play-state: paused !important;
  animation-play-state: paused !important;
}

@-webkit-keyframes svg_outline {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes svg_outline {
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes svg_outline_hide {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 0;
  }
}
@keyframes svg_outline_hide {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 0;
  }
}
@-webkit-keyframes svg_fill_active {
  100% {
    fill: #e25027;
    fill-opacity: 1;
  }
}
@keyframes svg_fill_active {
  100% {
    fill: #e25027;
    fill-opacity: 1;
  }
}
@-webkit-keyframes svg_fill_inactive {
  100% {
    fill: #ebebeb;
    fill-opacity: 1;
  }
}
@keyframes svg_fill_inactive {
  100% {
    fill: #ebebeb;
    fill-opacity: 1;
  }
}
@-webkit-keyframes svg_stroke_inactive {
  100% {
    stroke: #ebebeb;
  }
}
@keyframes svg_stroke_inactive {
  100% {
    stroke: #ebebeb;
  }
}
@-webkit-keyframes svg_stroke_active {
  100% {
    stroke: #e25027;
  }
}
@keyframes svg_stroke_active {
  100% {
    stroke: #e25027;
  }
}

.bttn {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 20px;
}
.bttn span {
  display: block;
  padding: 20px;
  font-size: 20px;
  color: #FFB902;
  transition: all 0.3s ease-out;
  text-shadow: 2px 2px 2px #000000;
}
.bttn:hover {
  cursor: pointer;
}
.bttn.out .corners {
  position: absolute;
  width: 100%;
  transition-duration: 0.3s;
}
.bttn.out .corners:before, .bttn.out .corners:after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  border-color: #FFB902;
  border-style: solid;
  transition-duration: 0.3s;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
	
}
.bttn.out .corners.top:before {
  border-width: 1px 0 0 1px;
}
.bttn.out .corners.top:after {
  border-width: 1px 1px 0 0;
}
.bttn.out .corners.bottom:before {
  border-width: 0 0 1px 1px;
}
.bttn.out .corners.bottom:after {
  border-width: 0 1px 1px 0;
}
.bttn.out .corners:before {
  left: 0;
}
.bttn.out .corners:after {
  right: 0;
}
.bttn.out .corners.top {
  top: 10px;
}
.bttn.out .corners.bottom {
  bottom: 10px;
}
.bttn.out:hover .corners:before {
  left: 17px;
}
.bttn.out:hover .corners:after {
  right: 17px;
}
.bttn.out:hover .corners.top {
  top: 20px;
}
.bttn.out:hover .corners.bottom {
  bottom: 27px;
}
.bttn.in .corners {
  position: absolute;
  width: 100%;
  transition-duration: 0.3s;
}
.bttn.in .corners:before, .bttn.in .corners:after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  border-color: #FFB902;
  border-style: solid;
  transition-duration: 0.3s;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
.bttn.in .corners.top:before {
  border-width: 1px 0 0 1px;
}
.bttn.in .corners.top:after {
  border-width: 1px 1px 0 0;
}
.bttn.in .corners.bottom:before {
  border-width: 0 0 1px 1px;
}
.bttn.in .corners.bottom:after {
  border-width: 0 1px 1px 0;
}
.bttn.in .corners:before {
  left: 20px;
}
.bttn.in .corners:after {
  right: 20px;
}
.bttn.in .corners.top {
  top: 20px;
}
.bttn.in .corners.bottom {
  bottom: 27px;
}
.bttn.in:hover .corners:before {
  left: 0;
}
.bttn.in:hover .corners:after {
  right: 0;
}
.bttn.in:hover .corners.top {
  top: 0;
}
.bttn.in:hover .corners.bottom {
  bottom: 7px;
}

.bttn.cyan span {
  color: cyan;
}
.bttn.cyan .corners:after, .bttn.cyan .corners:before {
  border-color: cyan;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
